# Material de evaluación con datos de terceros (no publicar)
documentos/Reportes/P4/Evaluacion_Proyecto_4_Mecatronica_FIUNA.xlsx
documentos/Reportes/P4/tarea.jpeg
documentos/Reportes/P4/WhatsApp Image 2026-10-06 at 21.25.46.jpeg

# Archivos generados por LaTeX
documentos/Reportes/P4/latex_puntos_mejora/*.aux
documentos/Reportes/P4/latex_puntos_mejora/*.log
documentos/Reportes/P4/latex_puntos_mejora/*.out
documentos/Reportes/P4/latex_puntos_mejora/main.pdf
